/*tags*/
body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: #FFF8E7;
}

h1 {
	font-family: 'Oswald', sans-serif;
	border-top: 8px solid blue;
	border-bottom: 1px solid black;
	padding-top: 30px;
	padding-bottom: 10px;
}

h2{
	font-family: 'Oswald', sans-serif;
	padding-top: 30px;
	padding-bottom: 25px;
	border-bottom: 2px solid black;
	margin-bottom: 15px;
}

li {
	padding-bottom: 15px;
}

textarea {
	font-family: 'Inconsolata', monospace;
	line-height: 1;
}

td {
	border: 1px solid #444;
	padding-left: 5px;
	padding-right: 5px;
}

td:nth-of-type(1){
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
}

/*classes*/

.btn-primary {
	border-radius: 5px;
	padding: 2px;
	margin: 1px;
}

.code {
	font-family: 'Inconsolata', monospace;
}

.convert {
	margin-top: 5px;
	margin-left: 13px;
}

.data-box {
	padding-top: 30px;
}

.files {
	width: 100%;
	padding-left: 0;
}

.form-group {
	width: 50%;
}

.hide-instr {
	border: 1px solid #aaa;
	border-radius: 0;
}

.instructions {
	display: none;
	transition: 0.5s linear;
}

.row {
	width: 86%;
	padding-top: 15px;
	padding-left: 7%;
}
/*ids*/

/*font-family: 'Oswald', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Inconsolata', monospace;*/